body{
    background: #30313e;
}




.content-page>.content {
    margin-bottom: 60px;
    margin-top: 60px;
    padding: 20px 5px 15px;
}


.label {
    font-weight: 600;
    letter-spacing: .05em;
    padding: .3em .6em;
    cursor: pointer;
}
.label-danger {
    background-color: #f77373!important;
}
.label-default {
    background-color: #5fbeaa;
}
.label-info{
	background-color: #2196f3;
}


.container {
	width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.panel-new {
    background: rgba(26, 26, 31, 0.34);
    border-radius: 10px;
    border: 0;
}

.panel-new > .panel-heading {
    color: white;
        border-bottom: 1px solid #ffffff12;
    }

.navbar-new {
    background: rgba(26, 26, 31, 0.25);
    box-shadow: 0px 0px 20px #0000004a;
}

.navbar-new .nav>li>a:hover, .nav>li>a:focus {
    text-decoration: none;
    background-color: #0000002e;
}

.navbar-new li.active{
    border-bottom: 3px #3d77ab solid;
}

a {
    color: #ffffff;
    text-decoration: none;
}



.label-circle {
    border-radius: 100%;
    border: 3px #2196f3 solid;
    padding: 5px;
    transition: .3s all;
}


.label-circle:hover {
    background: #2196f3;
    border-color: white;
}



.label-circle2 {
    border-radius: 0 0 16px 0;
    border: 3px #2196f3 solid;
    padding: 5px;
    transition: .3s all;
}


.label-circle2:hover {
    background: #2196f3;
    border-color: white;
}


.label-circle3 {
    border-radius: 16px 0 16px 0;
    padding: 10px;
    transition: .3s all;
    background: #ff4a4a;
}


.label-circle3:hover {
    box-shadow: 0px 6px 40px rgba(255, 74, 74, 0.48);
    text-decoration: none;
    color: #fff;
    text-shadow: 0 2px 20px white;
}



  .outline-btn:hover {
      box-shadow: inset 0 0 0 4px #428bca;
      text-decoration: none;
      color: #428bca;
  }
  .outline-btn {
      border: 0;
      box-shadow: inset 0 0 0 2px #428bca;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
      padding: 8px 26px;
      border-radius: 300px;
      text-transform: uppercase;
      background: transparent;
      transition: all 0.2s easy-in-out;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
  }

  .outline2-btn:hover {
    box-shadow: 0 0 0 3px #ffffff;
    text-decoration: none;
    color: #ffffff;
    background: #428bca;
  }
  .outline2-btn {
      border: 0;
      box-shadow: inset 0 0 0 2px #428bca;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 3px;
      padding: 8px 26px;
      border-radius: 300px;
      text-transform: uppercase;
      background: transparent;
      transition: all 0.4s easy-in-out;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
  }

  .gradient-btn
  {
    border: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: white;
    font-size: 14px;
    padding: 8px 26px;
    text-align: center;
    background-image: linear-gradient(45deg, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
      transition: 0.2s;
  }
  .gradient-btn:hover {
    box-shadow: 0 0 0 3px #ffffff;
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%);
    transform: scale(0.95);
  }
  .new-btn{
    border: 0;
    font-weight: bold;
    background: #ff4a4a;
    border-radius: 16px 0 16px 0;
    letter-spacing: 3px;
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    padding: 8px 26px;
    text-align: center;
    cursor: pointer;
    transition: all 0.2s easy-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
  }
  .new-btn:hover{
    box-shadow: 0px 6px 40px rgba(255, 74, 74, 0.48);
    text-decoration: none;
    color: #fff;
    text-shadow: 0 2px 20px white;
  }


  .Gradient {
    height: 40px;
    border-radius: 3px;
    flex-basis: 9.3%;
    justify-content: center;
    box-sizing: border-box;
    cursor: pointer;
    margin: 2px;
}
  .Gradient--1{background: linear-gradient(to right, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);}
  .Gradient--2{background: linear-gradient(to right, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%);}
  .Gradient--3{background: linear-gradient(to right, #d3c5f7 51%, #b19ded 100%);}
  .Gradient--4{background: linear-gradient(to right, #9fbbea 51%, #7fdaee 100%);}


  .progress-bar1 {
    width: 100%;
    background: #26242d;
    height: 16px;
    position: relative;
    display: block;
    padding: 4px;
    border-radius: 300px;
}

.progress-bar1 .value {
    display: block;
    width: 50%;
    background: #ff4a4a;
    border-radius: 300px;
    height: 8px;
}

  .progress-bar2{
    position: relative;
    background-color: #eaeaea;
    left: 0;
    top: 0;
    margin: 0;
    margin-top: 3px;
    width: 100%;
    height: 5px;
  }

  .progress-bar2 .value{
    background: #1ECD97;
    overflow: hidden;
    position: absolute;
    height: 5px;
    min-width: 0;
  }